@use './partials/variables' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: $main-bg-color;
    color: $main-accent-color;
    padding: 1rem 2rem .5rem;
}

main {
    background-color: #141414;
    padding: 2rem;
}

ul {
    list-style-type: none;
}